
$blue-accent: #385c81;

.standout {
  line-height: 3em!important;
  background-color: $blue-accent;
  color: white !important;

  h5 {
    margin: 0 !important;
  }

}

.box-shadow {
  box-shadow: 0px 2px 10px 0px #f1f1f1
}

.image {
  display: inline-block;
}

.items {
  display: flex;

  .item {
    flex-basis: 225px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    //padding: 5px 10px;
    border: 1px solid rgba(56, 92, 129, 0.19);
    background-color: white;

    .footer {
      .cards {
        display: flex;
        .item-card {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}